$timer-padding: 10px;
$bar-heigth: 36px;

.timer {
  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100vh - (2 * #{$timer-padding}) - #{$bar-heigth});
    padding: $timer-padding;
    padding-top: calc(#{$bar-heigth} + #{$timer-padding});
    color: #FFFFFF;
    background: #4DAF7C;
  }

  &__stopwatch {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }

  &__actions {
    display: flex;
  }

  &__button {
    min-width: 35px;
    margin: 3px;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    background-color: #FFFFFF;
    border: 0;
    border-bottom: 2px solid #E3E3E3;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: darken(#FFFFFF, 8%);
    }

    &:active {
      background-color: darken(#FFFFFF, 20%);
    }

    &--test {
      margin-left: auto;
    }
  }
}
